body, div, span, header,figure, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #666;
  box-sizing: border-box;
  // font-weight: lighter;
  font-family: "Microsoft Yahei",sans-serif;
  -webkit-tap-highlight-color:transparent;
  &:focus {
      outline: none;
  }
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea {  -webkit-appearance: none;}   

html,body{
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}


.clear:after{
  content: '';
  display: block;
  clear: both;
}

.clear{
  // zoom:1 属性是IE浏览器的专有属性，Firefox的等其他浏览器不支持。它可以设置或检索对象的缩放比例。
  // 除此之外，还可以触发IE的hasLayout属性，清除浮动，清除margin的重叠等。
  zoom:1;
}

.back_img{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.margin{
  margin: 0 auto;
}

.left{
  float: left;
}

.right{
  float: right;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paddingTop{
  padding-top: 1.95rem;
}

::-webkit-scrollbar{
  width:0px;
  height: 0px;
  background-color: #f5f5f5;
}
// 二级路由页面切换时的动画
.router-slide-enter-active, .router-slide-leave-active {
  transition: all .4s;
}
.router-slide-enter, .router-slide-leave-active {
  // translate3d(2rem, 0, 0)效果比translateX(100%)更好
  transform: translate3d(2rem, 0, 0);
  // transform: translateX(100%);
  opacity: 0;
}